:root {
    --main: purple;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1 {
    font-size: 35px;
}

a {
    text-decoration: none;
}

button,
li {
    padding: 2px 5px 2px 5px;
    background-color: var(--main);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 50px;
}

header p {
    color: var(--main);
}

main,
.end-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    text-align: center;
}

main p {
    width: 30%;
}

#end-screen {
   display: flex;
}


.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.questions h1 {
    width: 60%;
}

.questions li {
    border-radius: 5px;
    cursor: pointer;
}

.questions li:not(:last-child) {
    margin-bottom: 3px;
}

.hide {
    display: none;
}
